@font-face {
font-family: "Futura";
src: url("css/fonts/Futura.ttf");
src: 
url("css/fonts/Futura.woff") format("woff"),
url("css/fonts/Futura.otf") format("opentype"),
url("css/fonts/Futura.svg#filename") format("svg");
}
h1 {
	text-align: center;
	color: red;
	font-family: 'Futura', Arial, sans-serif;
	font-weight:normal;
	font-style:normal;
	font-size:100px;
	}
#PROOF {
	font-family:'Futura';
	color:#00e6e6;
	font-size:40px;
	margin-left:290px;
	margin-top:50px;
	text-decoration: underline;
	position:absolute;
	background-color:#ff4d3d;
}
body{ 
	background-image: url("https://i.imgur.com/Vfyekg3.jpg");
	background-size:cover;
	background-position:center;
	background-repeat: none;
}
button.home{
	background-color: red;
	border: solid black 2px;
	color: white;
	text-align: center;
	display: block;
	font-size: 30px;
	cursor: pointer;
	position:relative;
	top: -225px;
    left: 910px;
	font-family: 'Futura';

	
}
button:hover { 
    -webkit-transform: scale(1.05);
    -ms-transform: scale(1.05);
    -o-transform: scale(1.05);
}
/*#SPACE {
	margin-left: -50px;
	margin-bottom: 1400px;
	width: 300px;
	height: 250px;
	position: absolute;
}
*/
div.SPECIAL {
	font-family: 'Futura', Arial, sans-serif;
	font-weight:normal;
	font-style:bold;
	font-size:30px;
	font-size: 40px;
	color: red;
	text-shadow: 0.5px 0.5px red;
	margin-top: 350px;
	text-align:center;
	margin-left:0px;
	margin-right:1000px;
	margin-top:50px;
	
}
div.CENTER-ALIGN {
	text-align: center;
	margin-left:1000px;
	margin-top:-500px;
	position:relative;
	
}
#QUIZ {
	font-family:'Futura';
	color:#00e6e6;
	font-size:40px;
	margin-left:1100px;
	margin-top:50px;
	text-decoration: underline;
	position:absolute;
	background-color:#ff4d3d;
}
p.form {
	font-family:'Futura';
	color:white;
	
	
}
#help {
	font-family:'Futura';
	color:white;
	font-size:20px;
	top: 100px;
}
#submit {
	background-color: red;
	border: solid black 2px;
	color: white;
	text-align: center;
	display: block;
	font-size: 30px;
	cursor: pointer;
	position:relative;
	font-family:'Futura';
	margin-left: 400px;
	margin-top: 30px;
}
input[type=text], select {
	width: 20%;
	padding: 10px 10px;
}
input #response[type=text], select {
	width: 30%;
	height: 100%;
	padding: 10px 10px;
	
}